<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <title>Charging Profile</title>
</head>

<body>
    <div id="app" class="text-center">
        <p>Put all your files in 'input' directory and select method.</p>
        <div>
            <button id="hourButton" type="button" class="btn btn-primary">60'</button>
            <br>
            <button id="sumButton" type="button" class="btn btn-success">15' (sum)</button>
            <button id="averageButton" type="button" class="btn btn-warning">15' (avg)</button>
        </div>
        <p id="message"></p>
    </div>
    <script src="../renderer/main.js"></script>
</body>

</html>